table.timetable {
  max-width: 400px;
  min-width: 350px;
}

table.days {
  colgroup col:nth-child(1) { width: 60px; }
  tbody.month td { text-align: center; }
  tbody.days, tbody.header { tr td:nth-child(1) { text-align: center; } }
  min-width: 320px;
}

table.beginners { max-width: 350px; }
table.lamrim { max-width: 350px; }
table.retrit { min-width: 200px; }
