---
title: "Прием у Досточтимого Чусанга Ринпоче"
publish_date: "2017-05-31 18:00"
---

<div id="url-2017-05-31-1" class="index">
<p>Параллельно с построением мандалы Будды Медицины в течение всего дня
в московском центре Ламы Цонкапы ведёт приём Досточтимый Чусанг Ринпоче.
К нему может обратиться любой желающий с различными вопросами, касающимися
здоровья, работы, взаимоотношений, перспектив на будущее. Можно попросить совет
в решении трудной жизненной ситуации, получить благословение на излечение от
болезней, задать вопросы по буддийской философии и духовной практике.
У досточтимого Чусанга Ринпоче огромная сила благословения!</p>

<p>Ждем вас с 28 мая по 2 июня с 12 до 19 по адресу: Спартаковский переулок 2,
стр.1. Бизнес Центр "Платформа", подъезд 7-2, (3-й этаж), домофон 21.</p>

<div class="fotorama" data-allowfullscreen="native">
  <a href="/news/2017-05-31-1/Rinpoche-1.jpg"></a>
  <a href="/news/2017-05-31-1/Rinpoche-2.jpg"></a>
</div>

</div> <!-- index -->

<!-- page-cut -->

<div class="site-2-columns">

<div class="side">

<p>Параллельно с построением мандалы Будды Медицины в течение всего дня
в московском центре Ламы Цонкапы ведёт приём Досточтимый Чусанг Ринпоче.
К нему может обратиться любой желающий с различными вопросами, касающимися
здоровья, работы, взаимоотношений, перспектив на будущее. Можно попросить совет
в решении трудной жизненной ситуации, получить благословение на излечение от
болезней, задать вопросы по буддийской философии и духовной практике.
У досточтимого Чусанга Ринпоче огромная сила благословения!</p>

<p>Досточтимый Чусанг Ринпоче родился 15 ноября 1976 года, до 13 лет жил со своей
семьей. В 1988 году Его Святейшество Далай Лама XIV определил его как третью
реинкарнацию Чусанга Ринпоче. После этого досточтимый Ринпоче принял монашеские
обеты и начал получать буддийское монашеское образование. Искренне следуя
примеру великих мастеров прошлого, Чусанг Ринпоче более 20 лет изучал Дхарму.
В 2011 году блестяще защитил степень геше-лхарамбы. Он также занял первое место
в соревнованиях по философским диспутам, которые проводилось между крупнейшими
монастырями Индии.</p>

<p>Фото и информация о досточтимом Чусанг Ринпоче взяты с сайта
<a href="geshe.ru">geshe.ru</a>.<p>

<p>Ждем вас с 28 мая по 2 июня с 12 до 19 по адресу: Спартаковский переулок 2,
стр.1. Бизнес Центр "Платформа", подъезд 7-2, (3-й этаж), домофон 21.</p>
</div> <!-- side -->

<div class="side">
<div class="fotorama" data-allowfullscreen="native">
  <a href="<%= digest_local_url("Rinpoche-1.jpg") %>"></a>
  <a href="<%= digest_local_url("Rinpoche-2.jpg") %>"></a>
</div>
</div> <!-- side -->

</div> <!-- site-2-columns -->
