---
title: "Прием у Досточтимого Чусанга Ринпоче"
publish_date: "2017-05-31 18:00"
---

<div class="index">
<p>Параллельно с построением мандалы Будды Медицины в течение всего дня
в московском центре Ламы Цонкапы ведёт приём Досточтимый Чусанг Ринпоче.
К нему может обратиться любой желающий с различными вопросами, касающимися
здоровья, работы, взаимоотношений, перспектив на будущее. Можно попросить совет
в решении трудной жизненной ситуации, получить благословение на излечение от
болезней, задать вопросы по буддийской философии и духовной практике.
У досточтимого Чусанга Ринпоче огромная сила благословения!</p>

<p>Ринпоче будет принимать во все дни вплоть до отбытия из Москвы 6 июня,
кроме субботы 3 июня. Часы приема приведены в подробностях.</p>

<div class="fotorama" data-allowfullscreen="native">
  <a href="<%= digest_url("Rinpoche-1.jpg") %>"></a>
  <a href="<%= digest_url("Rinpoche-2.jpg") %>"></a>
</div>

</div> <!-- index -->

<!-- page-cut -->

<div class="site-2-columns">

<div class="side">
<p>Параллельно с построением мандалы Будды Медицины в течение всего дня
в московском центре Ламы Цонкапы ведёт приём Досточтимый Чусанг Ринпоче.
К нему может обратиться любой желающий с различными вопросами, касающимися
здоровья, работы, взаимоотношений, перспектив на будущее. Можно попросить совет
в решении трудной жизненной ситуации, получить благословение на излечение от
болезней, задать вопросы по буддийской философии и духовной практике.
У досточтимого Чусанга Ринпоче огромная сила благословения!</p>

<p>Ринпоче будет принимать во все дни вплоть до отбытия из Москвы 6 июня,
кроме субботы 3 июня. Ниже приведены часы приема.</p>

<div class="site-data-table">
<table class="hours">
  <colgroup> <col> <col> <col> </colgroup>
  <tbody class="header">
  <tr><td colspan="2">  День </td><td>  Часы  </td></tr>
  </tbody>
  <tbody class="body">
  <tr><td>  Чт </td><td>  1 июня </td><td>  12:00 - 19:00  </td></tr>
  <tr><td>  Пт </td><td>  2 июня </td><td>  14:00 - 16:00  </td></tr>
  <tr><td>  Сб </td><td>  3 июня </td><td>        -        </td></tr>
  <tr><td>  Вс </td><td>  4 июня </td><td>  11:00 - 17:00  </td></tr>
  <tr><td>  Пн </td><td>  5 июня </td><td>  12:00 - 19:00  </td></tr>
  </tbody>
</table>
</div>
</div> <!-- side -->

<div class="side">
<div class="fotorama" data-allowfullscreen="native">
  <a href="<%= digest_url("Rinpoche-1.jpg") %>"></a>
  <a href="<%= digest_url("Rinpoche-2.jpg") %>"></a>
</div>
</div> <!-- side -->

<div class="side">
<p>Досточтимый Чусанг Ринпоче родился 15 ноября 1976 года, до 13 лет жил со своей
семьей. В 1988 году Его Святейшество Далай Лама XIV определил его как третью
реинкарнацию Чусанга Ринпоче. После этого досточтимый Ринпоче принял монашеские
обеты и начал получать буддийское монашеское образование. Искренне следуя
примеру великих мастеров прошлого, Чусанг Ринпоче более 20 лет изучал Дхарму.
В 2011 году блестяще защитил степень геше-лхарамбы. Он также занял первое место
в соревнованиях по философским диспутам, которые проводилось между крупнейшими
монастырями Индии.</p>

<p>Фото и информация о досточтимом Чусанг Ринпоче взяты с сайта
<a href="geshe.ru">geshe.ru</a>.<p>
</div> <!-- side -->

</div> <!-- site-2-columns -->
