---
title: "Благословение Белой Тары в Москве"
publish_date: "2012-04-04"
buddha_node: "240"
---

<p>В заключение текущего цикла Учений в воскресенье, 22 апреля, Досточтимый
Геше Джампа Тинлей дарует Благословение Белой Тары. Начало в 12-00, вход
свободный. Приглашаются все желающие.</p>

<p>Благословение Белой Тары - это обширный буддийский ритуал, предназначенный
для устранения препятствий и обретения благословения - силы, которая может
помочь измениться к лучшему.</p>

<!-- page-cut -->

<img src="<%= digest_local_url('white-tara.jpg') %>"
     align="left" width="130" height="130">

<p>Благословение будет проходить по адресу: м. ВДНХ, территория ВВЦ, павильон 84, Дом культуры ВВЦ.</p>

<p>Проезд: ст. метро ВДНХ, первый вагон из центра, вход через главные ворота ВВЦ,<br>
примерно 100 метров пройти по главной аллее, затем повернуть направо и пройти еще примерно 400 метров до ДК ВВЦ (павильон 84).<p>

<a href="http://buddha.ru/content/?q=node/240">Местоположение ДК на схеме:</a></p>
<p><img src="<%= digest_local_url('map-dk-vvc.gif') %>"></p>
