<div class="donations site-2-columns">

<div class="side">
<p>Буддийский Центр Ламы Цонкапы не является коммерческой организацией, у него
нет никаких спонсоров. Средства, на которые существует буддийский Центр, – это
добровольные подношения, пожертвования прихожан. Если у вас есть желание
и возможность материально помочь буддийскому Центру, вы можете сделать
пожертвование.</p>

<p>Выражаем сердечную благодарность всем людям, которые оказали помощь нашему
буддийскому центру! Пусть ваши заслуги приумножатся!</p>

<br/>

<table class="site-data-table sber">
  <colgroup> <col> <col> </colgroup>

  <tr>
    <td> Получатель: </td>
    <td>
       Местная религиозная организация - Московский Буддийский Центр
       Ламы Цонкапы Московский банк Сбербанка России
    </td>
  </tr>
  <tr>
    <td> Банк получателя: </td>
    <td> ОАО "Сбербанк России" г. Москва </td>
  </tr>
  <tr>
    <td> Р/с </td>
    <td> № 40703810738250121311 </td>
  </tr>
  <tr>
    <td> Кор/сч </td>
    <td> № 30101810400000000225 </td>
  </tr>
  <tr>
    <td> БИК </td>
    <td> 044525225 </td>
  </tr>
  <tr>
    <td> ИНН </td>
    <td> 7731244887 </td>
  </tr>
  <tr>
    <td> КПП </td>
    <td> 772501001 </td>
  </tr>
  <tr>
    <td> Назначение платежа: </td>
    <td>
      Добровольное пожертвование на ведение уставной деятельности. Без НДС.
    </td>
  </tr>
</table>

</div> <!-- side -->

<div class="side">
<iframe frameborder="0" allowtransparency="true" scrolling="no"
        src="<%= yandex_money_url(41001522970769,
          'Московский Буддийский Центр Ламы Цонкапы',
          100, '/donations/') %>"
        width="450" height="177">
</iframe>
</div> <!-- side -->

</div>
