---
title: "Буддийский календарь 2017"
publish_date: "2017-02-28"
buddha_node: "412"
---

<p>Дорогие друзья! Издательством "Дже Цонкапа" выпущен новый буддийский
календарь на 2017-2018 лунный год (огня-птицы). Календарь содержит подробную
астрологическую информацию на каждый день, индивидуальный астрологический
прогноз на следующий год и другие интересные материалы.</p>

<p>Приобрести календарь можно  в новом помещении московского буддийского Центра
Ламы Цонкапы по адресу Спартаковский пер., д.2, стр.1, подъезд 7-1 или в старом
помещении по адресу ул. Мытная, д.23, корп.1. </p>
