---
title: "Построение мандалы Будды Медицины"
publish_date: "2017-05-16"
---

<p>Дорогие друзья, с 28 мая по 2 июня в Московском буддийском Центре Ламы
Цонкапы состоится ритуал построения мандалы Будды Медицины. Ритуал проведут
монахи монастыря Сера Мэй по приглашению Досточтимого Геше Джампа Тинлея.</p>

<p>Присутствие, лицезрение и обход мандалы Будды Медицины благоприятствует
укреплению умственного и физического здоровья, возрастанию удачи и устранению
препятствий. Начало ритуала 28 мая в 12:00. Приглашаются все желающие.</p>

<!-- page-cut -->

<div class="site-2-columns">

<div class="side">
<p>Дорогие друзья, с 28 мая по 2 июня в Московском буддийском Центре Ламы
Цонкапы состоится ритуал построения мандалы Будды Медицины. Ритуал проведут
монахи монастыря Сера Мэй по приглашению Досточтимого Геше Джампа Тинлея.</p>

<p>Присутствие, лицезрение и обход мандалы Будды Медицины благоприятствует
укреплению умственного и физического здоровья, возрастанию удачи и устранению
препятствий. Начало ритуала 28 мая в 12:00. Приглашаются все желающие.</p>

<p>Подробная программа ритуала на <a href="/news/2017-05-28/">28 мая</a> и
<a href="/news/2017-05-31/">2 июня</a>. Смотрите трансляцию на канале <a target="_blank"
href="https://www.youtube.com/channel/UCJLYqE7ZkkprGXkG9yXwjyw">
radio.geshe.ru</a> сервиса youtube.</p>

</div> <!-- side -->

<div class="side">
<div class="fotorama" data-allowfullscreen="native">
  <a href="mandala-2017.jpg"
     data-full="mandala-2017-x1080.jpg"></a>
</div>
</div> <!-- side -->

</div> <!-- site-2-columns -->
