<div class="about site-2-columns">

<div class="side">
  <%= slideshow('photos') %>
</div> <!-- side -->

<div class="side">
<p>Московский буддийский Центр Ламы Цонкапы — религиозная организация,
объединяющая последователей традиционного буддизма Махаяны в городе Москве.
Центр создан группой учеников постоянно живущего в России тибетского ламы
(наставника) геше Джампа Тинлея, который является духовным руководителем этой
организации. Центр носит имя Ламы Цонкапы – основателя школы Гелуг, выдающегося
ученого и практика тибетского буддизма, который почитается наравне с Буддой
Шакьямуни.</p>

<p>Буддийский Центр Ламы Цонкапы существует более 20 лет и является одной из
старейших буддийских религиозных организаций в Москве. Учитывая, что в Москве
до сих пор нет ни одного буддийского храма, Центр Ламы Цонкапы является таким
храмом для многих московских буддистов. Кроме того, он является духовным домом
для жителей Москвы – выходцев из Калмыкии, Бурятии и Тувы, традиционно
буддийских республик в составе РФ. Многие жители Москвы и российских регионов,
интересующиеся нравственностью, духовным совершенствованием и глубинной
буддийской философией, посещают Центр.</p>

<p><b>Время работы буддийского Центра:</b> по будням с 11 до 21 часа,
по выходным с 11 до 18 часов.</p>
</div> <!-- side -->

<img class="symbol" src="<%= digest_url('/umbrella_symbol.png') %>"/>

<div class="side">
<p>Буддийский Центр Ламы Цонкапы объединяет множество человек, серьезно изучающих
и практикующих буддийское учение Махаяны. Своими основными духовными учителями
члены буддийского Центра Ламы Цонкапы считают Его Святейшество Далай-ламу XIV и
Досточтимого геше Джампа Тинлея, а также главу буддистов Монголии Богдо-гегена
Халха Джецун Дамба Ринпоче IX.</p>

<p>Деятельность Центра направлена на возрождение и сохранение в России буддизма
Махаяны, создание благоприятных условий для изучения буддийской теории и
практики, поддержку культуры и духовного наследия Тибета, на укрепление
нравственности, терпимости и благополучия людей, независимо от их национальной
и религиозной принадлежности.</p>

<p>В буддийском Центре Ламы Цонкапы
<a href="/timetable?show=schedule">регулярно проводятся</a> буддийские ритуалы,
семинары по буддийской философии и практике,
занятия по <a href="/yoga/">тибетской йоге</a> и тибетскому языку.
</p>
</div> <!-- side -->

<div class="side">
<p>Собрана замечательная <a href="/library/">библиотека буддийской литературы</a>,
сохраняются <a href="/teachings/">аудио- и видеоматериалы</a> учений переданных
в центре и на московских ретритах досточтимым геше Джампа Тинлеем, регулярно
проводятся экскурсии и лекции для всех желающих. В настоящее время также
действует <a href="http://www.jetsonkhapa.ru/">издательство «Дже Цонкапа»</a>, которое
занимается выпуском книг, посвященных теории и практике буддийского учения.
Буддийский Центр Ламы Цонкапы является культурным и духовным достоянием города
Москвы и других регионов нашей страны.</p>

<p>Буддийский Центр Ламы Цонкапы не является коммерческой организацией, у него нет
никаких спонсоров. Средства, на которые существует буддийский Центр, – это
добровольные <a href="/donations/">подношения, пожертвования прихожан</a>.</p>
</div> <!-- side -->

</div> <!-- about -->
