---
title: "Ретрит в Новосибирске"
publish_date: "2009-12-08"
buddha_node: "168"
---

<p>18-20 декабря в пансионате «Чкаловец» под Новосибирском досточтимый Геше
Джампа Тинлей дарует учение по Сутре Сердца Праджняпарамиты. Подробная
информация о ретрите в формате Word:
<a href=" <%= digest_local_url('Novosibirsk2009.doc') %> ">Novosibirsk2009.doc</a></p>
