---
title: "25 апреля в России  отмечали день  рождения  XI  Панчен Ламы Тибета"
publish_date: "2008-04-28"
buddha_node: "90"
---

<p>25 апреля буддисты отмечали девятнадцатилетие тибетца Гендюна Чокьи Нима,
которого Далай-лама признал 11-й реинкарнацией Панчен-ламы, второго по значению
духовного авторитета в буддизме. Гендюн Чокьи Нима пропал без вести в 1995
году. Он был похищен китайскими спецслужбами и содержится в заточении в КНР.
Митинги тибетцев, требующих освобождения Панчен-ламы, состоялись в Индии и ряде
других стран.</p>

<p>25 апреля 2008 г. в столице Бурятии
<a href="http://savetibet.ru/2008/04/27/protest_buryatia.html">
  прошел митинг</a>, посвященный дню рождения
XI Панчен-ламы Гендуна Чокьи Ньима и в защиту тибетского народа. В акции,
организованной буддийской общиной «Зеленая Тара», также приняли участие
представители Межрегиональной благотворительной общественной организации Центр
духовного развития личности «Зая», общества востоковедов «Амарсана»,
общественной организации «Демократический союз», а также деятели культуры
и науки.</p>

<!-- page-cut -->

<img align="left" src="<%= digest_local_url('buryatia-meeting.jpg') %>"
     hspace="17" vspace="17" border="0"></a>

<p>Участники митинга выразили поддержку Его Святейшеству Далай-ламе XIV в его
ненасильственном подходе к разрешению тибетской проблемы.</p>

<p>Требовали соблюдение общечеловеческих прав и свобод государственными
органами и должностными лицами Китайской Народной Республики и Российской
Федерации.</p>

<p>Осудили политику невмешательства руководства Бурятской Традиционной Сангхи
России в связи с последними событиями в Тибете, клеветой в адрес Его
Святейшества Далай-ламы XIV со стороны официального Пекина и китайских СМИ,
а также прокитайской пропагандой в официальных российских информационных
источниках.</p>

<img align="right" src="<%= digest_local_url('moscow-action.jpg') %>"
     hspace="17" border="0" vspace="17"></a>

<p>В Москве в восемь часов вечера 25 апреля возле китайского
посольства были
<a href="http://savetibet.ru/2008/04/26/v_moskve_razognali_miting_v_podderzhku_tibeta.html">
  задержаны пятеро участников</a> несанкционированной акции
в поддержку Тибета, сообщает РИА Новости. Активисты из группы "Российские
друзья Тибета", пришедшие на улицу Дружбы, развернули тибетские флаги
и транспарант с требованием предоставить Тибету независимость, после чего были
задержаны сотрудниками милиции.</p>

<p>Ранее участники группы пытались получить в префектуре Западного
административного округа разрешение на проведение митинга солидарности
с тибетцами, однако, по данным агентства "Прима News", в установленные законом
сроки не получили ответа от городских властей. В заявлении, сделанном
инициативной группой 23 апреля, говорилось, что в случае задержания участников
митинга, они намерены обратиться "с жалобой в прокуратуру на действия
сотрудников префектуры и милиции".</p>

<p>25 апреля в помещении центра Ламы Цонкапы состоялись молебен и цог по случаю
дня  рождения  XI  Панчен-ламы Тибета.<br> На нём присутствовали Досточтимый
Геше Тинлей, Калден Лама, лама Нгаванг Риглам , жители Бурятии, Калмыкии
, Тувы, москвичи и люди из других городов России. С речью к собравшимся
обратился представитель Его Святейшества Далай-Ламы в России г-н Таши. Он,
в частности отметил, что ситуация в Тибете остаётся по прежнему очень тяжёлой.
Во многих местах китайские силовые структуры не выпускают монахов за пределы
монастырей. У них заканчиваются вода и продукты. Многие умирают от голода.
В провинциях Кхам и Амдо часто происходят стихийные выступления монашеских
общин. После чего участников протестов арестовывают и отправляют
в застенки.</p>

<p>Это далеко не все мероприятия в поддержку Тибета и Панчен-Ламы, которые
состоялись 25 апреля в нашей стране.</p>

<p>Источники:<br>
<a href="http://www.savetibet.ru">savetibet.ru</a>,
<a href="http://www.lenta.ru">lenta.ru</a></p>
