<div class="page-teachers">

<div class="teacher">
  <a href="/teachers/hh-dalai-lama-14/">
    <img src="<%= digest_url('/teachers/hh-dalai-lama-14.jpg') %>"/>
    Его Святейшество Далай-лама XIV
  </a>
  Духовный лидер тибетского народа и других мест распространения
  тибетского буддизма, в том числе буддийских регионов России.
</div>
<div class="teacher">
  <a href="/teachers/hh-bogdo-gegen-9/">
    <img src="<%= digest_url('/teachers/hh-bogdo-gegen-9.jpg') %>"/>
    Его Святейшество Богдо-геген IX
  </a>
  Глава буддийской сангхи Монголии, один из высших лам религиозной традиции гелуг.
</div>
<div class="teacher">
  <a href="/teachers/geshela/">
    <img src="<%= digest_url('/teachers/geshela.jpg') %>"/>
   Досточтимый Геше Джампа Тинлей
  </a>
  Духовный руководитель нашего Дхарма-Центра и других центров
  Буддийской Религиозной организации "Дже Цонкапа".
</div>

</div>
