<div class="teachers">

<div class="board">
  <div class="card">
    <a href="/teachers/hh-dalai-lama-14/">
      <img src="<%= digest_url('/teachers/hh-dalai-lama-14.jpg') %>" class="photo"/>
       <div class="name">Его Святейшество Далай-лама XIV</div>
    </a>

<p>Духовный лидер тибетского народа и других мест распространения
тибетского буддизма, в том числе буддийских регионов России.</p>

  </div> <!-- card -->
  <div class="card">
    <a href="/teachers/hh-bogdo-gegen-9/">
      <img src="<%= digest_url('/teachers/hh-bogdo-gegen-9.jpg') %>" class="photo"/>
       <div class="name">Его Святейшество Богдо-геген IX</div>
    </a>

<p>Глава буддийской сангхи Монголии, один из высших лам религиозной традиции
гелуг.</p>

  </div> <!-- card -->
  <div class="card">
    <a href="/teachers/geshela/">
      <img src="<%= digest_url('/teachers/geshela.jpg') %>" class="photo"/>
       <div class="name">Досточтимый Геше Джампа Тинлей</div>
    </a>

<p>Духовный руководитель нашего Дхарма-Центра и других центров
Буддийской Религиозной организации "Дже Цонкапа".</p>

  </div> <!-- card -->
</div>

</div> <!-- teachers -->
