---
title: "Просьба разрешить визит Его Святейшества Далай-ламы XIV"
publish_date: "2009-06-22"
buddha_node: "155"
---

<p>С последнего визита
<a href="http://savetibet.ru/dalaj-lama/2005/dalaj-lama-bio.php"
  title="Биография Его Святейшества Далай-ламы на savetibet.ru"
  target="_blank">Его Святейшества Далай-ламы XIV</a>
в Россию прошло пять лет. Тогда Его Святейшество приехал в республику Калмыкия
всего на один день. С тех пор визит Далай-ламы постоянно откладывается. Когда
мы увидим Его в следующий раз? Пожалуй, ответ на этот вопрос зависит от нас
- последователей буддизма в России.</p>

<!-- page-cut -->

<p>
<img hspace="17" vspace="17"
     src="<%= digest_local_url('hh-dalai-lama.jpg') %>"
     width="350" height="220"
     alt="Его Святейшество Далай-лама" align="left">
Многие верующие для того, чтобы увидеть воочию и получить наставления от нашего
Духовного Наставника, отправляются в Индию. Некоторые побывали на Его Учениях
не один раз. И этот факт говорит о том, что в прошлом этими людьми были
накоплены огромные заслуги. Однако, таких людей среди нас не так много.
И поэтому мы все должны подумать об остальных верующих буддистах, которые по
разным причинам не имеют возможности добраться до Индии и увидеть Его
Святейшество.</p>

<p>Основная причина, по которой лауреат Нобелевской премии мира не может
посетить своих учеников в России - это отказ МИД РФ в предоставлении въездной
визы Его Святейшеству Далай-ламе. В 2002 году буддийское сообщество России
провело ряд акций, которые привлекли внимание к этой проблеме общественное
мнение и средства массовой информации. Было отправлено множество писем,
организованны мирные демонстрации и пикеты. Такие усилия принесли свои
результаты: в 2004 году Е.С. Далай-ламе выдали российскую визу.</p>

<p>Сегодня российское буддийское духовенство делает все возможное, чтобы Его
Святейшество снова смог приехать в Россию. Постоянно отправляются письма
о разрешения пастырского визита Далай-ламы в адрес Президента РФ, российского
Правительства и в МИД с просьбой о предоставлении визы. Однако, этих усилий уже
недостаточно. Не так много обращений и писем в Правительство поступает от нас
самих, последователей буддизма, являющихся коренными гражданами России.</p>

<p>В мировой истории существует множество примеров, когда люди преисполненные
верой, благодаря своему упорству, добивались невозможного. Если мы создадим
необходимые причины, то результат не заставит себя ждать: об этом говорит закон
кармы. Если каждый из нас, искренне и от себя лично напишет письмо, в котором
раскроет всю важность и огромную роль приезда в нашу страну Его Святейшества,
то с большей вероятностью результат от индивидуальных просьб множества людей
будет весомее, чем от коллективных просьб буддийских организаций. Причем, т.к.
обращения в МИД не приносят никаких результатов - вероятно, необходимо
обращаться напрямую в секретариаты Президента России и Председателя
Правительства РФ.</p>

<p>В написании такого рода письма очень важна искренность, основанная на благой
мотивации. Необходимо писать с осознанием того, какую пользу принесет Ваш
поступок, и ни в коем случае нельзя пренебрегать своей значимостью в этом деле.
Только такое письмо принесет желаемый результат.</p>

<p>Любой, кто пожелает, может направить обращение Президенту РФ в электронном
виде через
<a href="http://kremlin.ru/mail/about.shtml">
  официальный сайт Президента России</a>.
Также можно обратиться и к премьер-министру РФ на
<a href="http://premier.gov.ru/mail/step1.html">
  Интернет-портале Председателя Правительства Российской Федерации:
</a>.</p>

<p>Для желающих отправить письмо по почте вот адрес Президента РФ: 103132
Москва ул.Ильинка д.23. В письме необходимо обязательно указать: страну
и регион, почтовый индекс, обратный адрес и соц. положение.</p>

<p>Для примера, ниже приводится одно из писем, отправленных Президенту России.
Каждый желающий может воспользоваться данным письмом как примером для написания
своего послания Президенту. Желательно, чтобы письма не были похожи друг на
друга, как будто бы их просто скопировали. Важно донести личную персональную
позицию по своему конституционному праву получать наставления от своего
Духовного Наставника.</p>

<p>Пример письма:</p>

<em><p>Уважаемый Дмитрий Анатольевич, прежде всего, хочу выразить огромную
признательность за то, что нашли время прочитать мое письмо.<p>

<p>Меня зовут ИМЯ ФАМИЛИЯ, мне … лет. Я исповедую буддизм. В эти тяжелые
времена кризиса, я и мои близкие ежедневно сталкиваются с проблемами.
И в трудные минуты мне очень помогает моя вера: буддизм учит любви
и состраданию к другим людям, и это делает мою жизнь значимой, а меня
терпимей.</p>

<p>Духовный учитель буддистов всего мира - Его Святейшество Далай-лама
XIV-является для меня истинным оплотом добра и веры, источником всякой надежды
на лучшее, хотя увидеть его воочию мне пока не посчастливилось. Сильная вера
в Его Святейшество у меня появилась, когда я прочитал и прослушал множество его
книг и лекций. Его слова тронули мое сердце. И с тех пор во мне родилась мечта
увидеть Далай-ламу. Однако для меня, как и для многих людей, исповедующих
буддизм, нет возможности отправиться в чужие края на встречу с духовным
наставником, и это меня очень огорчает.</p>

<p>Все люди хотят счастья и не хотят страдать. Но для каждого человека счастье
имеет свое значение. Для нас, буддистов путем к обретению истинного счастья
является встреча с духовным учителем - Далай-ламой XIV и  получение учения
непосредственно от него, слушание лекций. Это мечта всех искренне верующих
буддистов, которых в многоконфессиональной России проживает свыше миллиона
человек. Поэтому для нас - буддистов России значимость его приезда
неизмерима.</p>

<p>С 2004 года по причине отказа в визе Его Святейшество больше не имеет
возможности приезжать в Россию, навещать своих учеников, освящать построенные
буддийские храмы и руководить процессом духовного возрождения буддизма.
Я осознаю причины, по которым наше правительство отказывает в визе. Однако на
протяжении всей российской истории буддизм получал государственную поддержку.
В 1766 году бурятские ламы признали императрицу Екатерину II воплощением богини
Белой Тары за благожелательность по отношению к буддизму.  Решение нынешней
проблемы  тоже войдет в историю, и то, каким оно будет, зависит от нас всех.
Уважаемый Дмитрий Анатольевич, от лица всех буддистов России и от меня лично
очень прошу вас разрешить  Его Святейшеству Далай-ламе XIV посетить нашу
страну.</p>

<p>С уважением, ИМЯ ФАМИЛИЯ</p></em>
