<div class="center">
  <div class="site-header">
    <div class="title"> Занятия по тибетской йоге </div>
    <div class="backlink">
      <a href="/timetable?show=schedule"> &larr; ЗАНЯТИЯ </a>
    </div>
  </div>
<div class="site-2-columns">

<div class="side">

<p>Тибетская йога, практикуемая в нашем центре - это комплекс упражнений,
который передал ученикам лама Таши Гьяцо. В Москве занятия проводятся с лета
2005 года.</p>

<p>Что же такое тибетская йога и чем она отличается от других видов йоги?
Существует много разных школ и, соответственно, разных видов йоги. Например, в
Индии много разных ашрамов и других мест, где занимаются йогой, и почти в
каждом из них занимаются каким-то своим видом йоги, т.е. существуют различные
направления йоги, и среди них есть как какие-то схожие моменты, так и сильно
отличающиеся. Тибетская йога, практикуемая в нашем Центре, - один из видов
йоги, пришедший к нам из Тибета, из монастыря Лавран благодаря ламе Таши Гьяцо.
Упражнения по форме напоминают как многое из индийской йоги, так и некоторые
элементы цигун, что и понятно: Тибет находится между Индией и Китаем, и
сказывается взаимное влияние различных школ и направлений. Среди упражнений
есть упражнения с дыханием, визуализацией и, конечно же, упражнения на гибкость
и растяжку. И ещё, пожалуй, самый важный момент, на который обращает особое
внимание лама Таши Гьяцо, - это сосредоточение, концентрация внимания на
выполняемом упражнении. Без концентрации внимания не будет должного эффекта, и
упражнения мало чем будут отличаться от обычной физкультуры.</p>

</div> <!-- side -->

<div class="side">
  <%= erb :'partials/slideshow',
    locals: { url: '/yoga/',
              directory: 'photos',
              root: false
  } %>
</div> <!-- side -->

<span class="space"></span>

<div class="side">

<p>Польза от тибетской йоги: улучшение здоровья, самочувствия, улучшение
обменных процессов, нормализация работы внутренних органов и т.п. Также
улучшается внимание, сосредоточенность, совершенствуется поза для медитации,
т.е.  становится проще сидеть в позе лотоса с прямой спиной, что бывает важно
при выполнении многих буддийских практик. Лама Таши Гьяцо говорит, что, если вы
хотите быть здоровыми, меньше болеть, то занимайтесь йогой, и тогда лекарства
вам будут практически не нужны. Ученики, которые регулярно занимаются йогой в
нашем Центре, отмечают, что стали меньше болеть и уставать на работе.
Некоторые естественным образом избавились от лишнего веса.</p>

<p>Занятия в нашем Центре проходят трижды в неделю. Приходить на занятия можно
всем желающим. Когда люди приходят впервые, им даются объяснения по
упражнениям. Продолжительность занятия примерно 1 час 40 мин. Стоимость одного
занятия в настоящее время составляет <b>200 руб</b>; для малоимущих, студентов
и пенсионеров - <b>100 руб.</b>

<h1> Материалы </h1>
<ul>
<li>
<a href="<%= digest_local_url('yoga-booklet.pdf') %>">
  Книга с упражнениями по тибетской йоге [pdf, 5Мб]
</a>
</li>
</ul>

</div> <!-- side -->

<div class="side">

<h1 class="top">Частые вопросы</h1>

<ul>

<li>
<p><b>Что нужно для того, чтобы начать заниматься тибетской йогой?</b></p>
<p>Нужна свободная одежда, не стесняющая движений, типа спортивной. Также
рекомендуется иметь домашние тапочки для перемещения по Центру.<p>
</li>

<li>
<p><b>Все ли могут заниматься тибетской йогой, есть ли какие либо
противопоказания?</b></p>
<p>Отсутствие травм, каких-либо серьёзных заболеваний и других медицинских
противопоказаний. Если у вас имеются какие-либо противопоказания, сначала лучше
проконсультируйтесь с врачом, также вы можете задать вопрос инструктору о том,
какие упражнения вам можно выполнять.</p>
</li>

<li>
<p><b>Когда можно приходить новичкам?</b></p>
<p>Начинающие могут приходить на любое занятие; лучше прийти чуть пораньше,
а также проинформировать инструктора о том, что вы пришли в первый раз.
Занимайте место впереди, поближе, чтобы лучше видеть и слышать объяснения
инструктора.</p>
</li>

</ul>

</div> <!-- side -->

</div> <!-- site-2-columns -->
</div>
