---
title: "Вышел в свет тибетский календарь 2009-2010 гг."
publish_date: "2009-02-23"
buddha_node: "131"
---

<p>В издательстве "Дже Цонкапа" выпущен тибетский календарь на 2009-2010 год.
В календаре представлена довольно подробная астрологическая информация на
каждый день, а также индивидуальный астрологический прогноз на будущий год.</p>

<p>Календарь можно приобрести в нашем центре.</p>

<!-- page-cut -->

<img hspace="17" vspace="17"
     src="<%= digest_local_url('moon-calendar-2009-2010.jpg') %>"/>
