---
title: "Новый буддийский календарь"
publish_date: "2015-01-03"
buddha_node: "351"
---


<p>Издательством "Дже Цонкапа" выпущен новый буддийский календарь на 2015-2016 лунный год (дерева-овцы).</p>
<p> Календарь содержит подробную астрологическую информацию на каждый день, индивидуальный астрологический прогноз на следующий год и другие интересные материалы.</p>

<p>Приобрести календарь можно в московском буддийском Центре Ламы Цонкапы по адресу: ул. Мытная, д.23, корп.1.</p>

<!-- page-cut -->

<img hspace="17" vspace="17"
     src="<%= digest_local_url('moon-calendar-2015.jpg') %>"/>
