---
title: "Заявление Е.С. Далай Ламы XIV Тензина Гьятцо журналистам"
publish_date: "2008-03-19"
buddha_node: "66"
---

<p>Я хотел бы воспользоваться этой возможностью, чтобы выразить мою глубокую
благодарность мировым лидерам и международному сообществу за их беспокойство по
недавнему печальному повороту событий в Тибете, и за их попытки убедить
китайские власти проявлять сдержанность, имея дело с демонстрациями.</p>

<p>С тех пор, как китайское Правительство обвинило меня в организации этих
протестов в Тибете, я призываю к всестороннему расследованию авторитетной
комиссией, которая должна включать китайских представителей, чтобы внимательно
изучить эти утверждения. Такая комиссия должна была бы: посетить Тибет,
традиционные Тибетские области вне Тибетского Автономного Района, и также
Центральную Тибетскую Администрацию здесь в Индии. Сделать это для
международного сообщества в целом, и особенно, для более миллиарда китайских
граждан, которые не имеют доступа к информации не прошедшей цензуру, чтобы
узнать то, что же на самом деле происходит в Тибете. Было бы чрезвычайно
полезно, если бы представители международных СМИ, также, предприняли такое
расследование.</p>

<!-- page-cut -->

<div>
<img border="0" align="left" hspace="17" vspace="3" alt="Dalai Lama"
      src="<%= digest_local_url('hh-dalai-lama.jpg') %>"
      title="Его Святейшество Далай-лама XIV">

<p>Было ли это преднамеренно или нет, я полагаю, что форма культурного геноцида
имела место быть в Тибете, где тибетская индивидуальность была под постоянной
атакой. Тибетцы были сокращены до незначительного меньшинства на их собственной
земле в результате огромного перемещения не-тибетцев в Тибет. Самобытное
тибетское культурное наследие с его характерным языком, обычаями и традициями
исчезает. Вместо того, чтобы стремиться к объединению наций, китайское
правительство проявляет дискриминацию по отношению к национальным меньшинствам,
и тибетцы в их числе.</p>

<p>Хорошо известно, что Тибетские монастыри, которые являются нашими основными
учебными заведениями, помимо того, что являются хранилищем тибетской
буддистской культуры, были в несколько раз сокращены и в количестве, и в числе
монахов. В тех монастырях, которые все еще существуют, больше не позволяется
серьезное обучение Тибетскому Буддизму; фактически, даже, доступ к этим
образовательным центрам строго регулируется. В действительности, в Тибете нет
никакой религиозной свободы. Даже призвать к немного большей свободе - означает
рисковать быть названным сепаратистом. И при этом в Тибете нет никакой реальной
автономии, даже при том, что эти элементарные свободы гарантируются китайской
конституцией.</p>

<p>Я верю, демонстрации и протесты, имеющие место в Тибете - непосредственная
вспышка общественного негодования, созданного годами репрессии, наперекор
властям, которые не обращают внимания на чувства местного населения. Они
ошибочно полагают, что продолжая репрессивные меры, смогут достигнуть
заявленной цели - долгосрочного единства и стабильности. </p>

<p>С нашей стороны, мы остаемся преданными принятому подходу Среднного Пути
и следования переговорному процессу, чтобы найти взаимовыгодное решение
Тибетского вопроса.</p>

<p>Учитывая вышесказанное, я также ищу поддержку международного сообщества
в наших усилиях решить Проблему Тибета через диалог, и я убеждаю их призывать
китайское руководство к терпению и предельной сдержанности, имея дело с теми,
кто учавствовал в беспорядках и разобраться с арестовывнными должным образом
и справедливо.</p>
</div>

<p style="clear:left">Далай-лама<br>
Dharamsala, 18 марта 2008</p>

<p><a href="http://dalailama.com/news.218.htm">
  http://dalailama.com/news.218.htm</a></p>
