#url-2016-12-21 {

table.timetable {
  max-width: 500px;
  min-width: 400px;
}

table.beginners {
  max-width: 600px;
  min-width: 450px;
}

table.philosophy {
  max-width: 500px;
  min-width: 350px;
}

}
