---
title: "Программа построения мандалы"
publish_date: "2017-05-28"
---

<div id="url-2017-05-28" class="index">

<div class="site-data-table">
<table class="may-28">
  <tbody class="header">
    <tr><td colspan="2"> Программа на 28 мая </td></tr>
  </tbody>
  <tr><td>  Призывание, визуализации и ритуал подношения      </td><td>  12:00 - 13:20  </td></tr>
  <tr><td>  Построение мандалы, знакомство с Буддой Медицины  </td><td>  13:30 - 14:30  </td></tr>
  <tr><td>  Перерыв на чай для монахов                        </td><td>  14:30 - 15:00  </td></tr>
  <tr><td>  Сессия вопросов и ответов                         </td><td>  15:00 - 17:00  </td></tr>
  <tr><td>  Построение мандалы                                </td><td>  17:00 - 18:00  </td></tr>
  <tr><td>  Перерыв на ужин для монахов                       </td><td>  18:00 - 19:00  </td></tr>
  <tr><td>  Молитвенное обращение, обзор мандалы              </td><td>  19:00 - 21:00  </td></tr>
</table>
</div>

<p>Трансляцию ритуала будет вести канал <a target="_blank"
href="https://www.youtube.com/channel/UCJLYqE7ZkkprGXkG9yXwjyw">
radio.geshe.ru</a> сервиса youtube.</p>

</div>

<!-- page-cut -->

<div id="url-2017-05-28">

<div class="site-data-table">
<table class="may-28">
  <tbody class="header">
    <tr><td colspan="2"> Программа на 28 мая </td></tr>
  </tbody>
  <tr><td>  Призывание, визуализации и ритуал подношения      </td><td>  12:00 - 13:20  </td></tr>
  <tr><td>  Построение мандалы, знакомство с Буддой Медицины  </td><td>  13:30 - 14:30  </td></tr>
  <tr><td>  Перерыв на чай для монахов                        </td><td>  14:30 - 15:00  </td></tr>
  <tr><td>  Сессия вопросов и ответов                         </td><td>  15:00 - 17:00  </td></tr>
  <tr><td>  Построение мандалы                                </td><td>  17:00 - 18:00  </td></tr>
  <tr><td>  Перерыв на ужин для монахов                       </td><td>  18:00 - 19:00  </td></tr>
  <tr><td>  Молитвенное обращение, обзор мандалы              </td><td>  19:00 - 21:00  </td></tr>
</table>
</div>

<div class="site-data-table">
<table class="details">
  <tbody class="header">
    <tr><td colspan="2"> Детальное расписание начала ритуала </td></tr>
  </tbody>
  <tr><td>  Принятие прибежища, зарождение бодхичитты   </td><td>  10 мин </td></tr>
  <tr><td>  Призывание Будд                             </td><td>  15 мин </td></tr>
  <tr><td>  Поклонение Будде Супарикиртитанамашрирадже  </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Сварагошарадже             </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Суварнабхадравимале        </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Ашокоттамашри              </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Дхармакиртисагаре          </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Абхиджнянарадже            </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Бхайсаджьягуру             </td><td>  5 мин  </td></tr>
  <tr><td>  Поклонение Будде Шакьямуни                  </td><td>  5 мин  </td></tr>
  <tr><td>  Молитва об исцелении через Дхарму           </td><td>  5 мин  </td></tr>
  <tr><td>  Начитывание мантр                           </td><td>  5 мин  </td></tr>
  <tr><td>  Посвящение заслуг, благословение            </td><td>  5 мин  </td></tr>
</table>
</div>

<p>Трансляцию ритуала будет вести канал <a target="_blank"
href="https://www.youtube.com/channel/UCJLYqE7ZkkprGXkG9yXwjyw">
radio.geshe.ru</a> сервиса youtube.</p>

</div>
